.rx_zt_foot{ width: 100%; position: relative; padding-bottom: 1rem;
}
.rx_zt_foot h4 {
    width: 100%;
    overflow: hidden;
    padding-top: 1.0rem;
    height: 2.5rem;
}
.rx_zt_foot h4 a {
	width: 16.5%;
    float: left;
    display: block;
    text-align: center;
    line-height: 1.2rem;
    border-right: 1px solid #fff;
    color: #737373;
    font-weight: normal;
    font-size: 1rem;
    box-sizing: border-box;
	border-right:0.1rem solid #737373;
}
.rx_zt_foot h4 a#lian{ border:0;}
.rx_zt_foot_p{ width:100%;}
.rx_zt_foot_p:after{ display:block; content:""; clear:both;}
.rx_zt_foot_p .rx_left{ width:40.625%; margin-left:3.125%; float:left}
.rx_zt_foot_p .rx_right{ width:50%; margin-left:3%; margin-right:3.125%; float:left}
.rx_zt_foot_p .rx_right p{ font-size:1.0rem; line-height:1.5; color:#c3b58e; letter-spacing:-0.5px;}
.rx_zt_foot_p img{ width:100%;}
.rx_zt_foot_p .rx_right img{ width:100%; margin-top:1.0rem;}