@charset "utf-8";
/* CSS Document */
/*头部*/
.totu{ width:100%; position:relative}

.xl_nav{ width:30%; padding-bottom:1.5rem; background-color:rgba(195,181,142,0.9); position:absolute; top:4.25rem; left:0; z-index:999; padding-top:1rem}
.xl_nav ul{ width:100%; margin:0 auto;}
.xl_nav ul li{ padding:0 5%; margin:0 auto; text-indent:2em; line-height:2.2rem; font-size:1.2rem; color:#ffe361; cursor:pointer; height:2.5rem;}
.xl_nav01{ background-image:url(../images/dao01.png); background-size:1.25rem 1.25rem; background-repeat:no-repeat; background-position:1rem 0.5rem; }
.xl_nav02{ background-image:url(../images/xiu01.png); background-size:1.25rem 1.25rem; background-repeat:no-repeat; background-position:1rem 0.5rem; }
.xl_nav03{ background-image:url(../images/xiu02.png); background-size:1.25rem 1.25rem; background-repeat:no-repeat; background-position:1rem 0.5rem; }
.xl_nav04{ background-image:url(../images/dao04.png); background-size:1.25rem 1.25rem; background-repeat:no-repeat; background-position:1rem 0.5rem; }
.xl_nav05{ background-image:url(../images/dao02.png); background-size:1.25rem 1.25rem; background-repeat:no-repeat; background-position:1rem 0.5rem; }
.xl_nav06{ background-image:url(../images/dao03.png); background-size:1.25rem 1.25rem; background-repeat:no-repeat; background-position:1rem 0.5rem; }
.xl_nav07{ background-image:url(../images/xiu05.png); background-size:1.25rem 1.25rem; background-repeat:no-repeat; background-position:1rem 0.5rem; }
.xl_nav08{ background-image:url(../images/xiu08.png); background-size:1.25rem 1.25rem; background-repeat:no-repeat; background-position:1rem 0.5rem; }
.xl_nav09{ background-image:url(../images/dao05.png); background-size:1.25rem 1.25rem; background-repeat:no-repeat; background-position:1rem 0.5rem; }
.xl_nav ul li:hover { color:#e2d4ac; background-color:#af996e;}

.xiala span{ display:block; width:0.5rem; height:0.5rem; border-radius:50%; background-color:red; float:right; margin-top:0.5rem}
.xl_nav ul li a{ width:100%; display:block; color:#ffe361;}
.xl_nav ul li:hover a{ color:#e2d4ac;}

.totu{ width:100%; position:relative}
.totu img{ width:100%; max-width:640px; display:block}
.dianhua01{ width:3rem; height:3rem; position:absolute; right:1.5%; top:0.3rem}
.totu p{ width:3rem; height:3rem;position:absolute; left:1.5%; top:0.3rem; cursor: pointer}
