@charset "utf-8";
/* CSS Document */
body{ margin:0; padding:0; font-family:"微软雅黑"; max-width:640px; min-width:320px; margin:0 auto}
a{ text-decoration:none;}
p,div,h1,h2,h3,h4,h5,h6,ul,li,span{ margin:0; padding:0}
li{ list-style:none;}

.xl_nav{ top:3.2rem;}
.left{ float:left;}
.right{ float:right;}
img{ vertical-align:middle;}
.wz_banner{ width:100%;}
.wz_banner img{ width:100%;}
.wz_position{ width:94.375%; margin:0 auto; font-size:1.1rem; line-height:2.0; border-bottom:1px dashed #ccc;}
.wz_position img{ width:4.63%; margin-right:0.5rem;}
.wz_nr{ width:94.375%; margin:0 auto; }
.wz_nr h1{ width:100%; font-size:1.4rem; line-height:3.0; font-weight:300; text-align:center;}
.wz_source{ width:100%; font-size:1.0rem; padding-bottom:1.0rem;  }
.wz_source:after{ display:block; content:""; clear:both;}
.wz_source div{ text-indent:2em; display:inline-block; padding:0.1rem;}
.wz_source span.yel{ width:auto; display:inline-block; color:#ad9e56; border:1px solid #ad9e56; border-radius:0.3rem; padding:0.1rem; margin-right:1.0rem}
.wz_source span.red{ width:auto; display:inline-block; color:#ff3737; border:1px solid #ff3737; border-radius:0.3rem; padding:0.1rem; margin-right:1.5rem}
.wz_source span img{ width:1.0rem;}
.wz_body{ width:100%; font-size:1.1rem; line-height:2.0; color:#000;} 
.wz_body p{ padding-bottom:1.0rem;}
.wzy_tel{ width:100%; margin:0 auto 2.2rem;}
.wzy_tel img{ width:100%;}
.wzy_hui{ width:100%; height:0.6rem; background:#e9e9e9;}
.wzy_tj{ width:94.375%; margin:0 auto;  }
.wzy_tj img{ width:5.46%; margin-right:0.5rem;}
.wzy_bt{ width:100%; font-size:1.1rem; line-height:1.5; border-bottom:1px dashed #ccc; padding:1.0rem 0;}
.wzy_tj ul{ padding:1.0rem 0} 
.wzy_tj ul li{width:100%; font-size:1.1rem; line-height:2.2; border-bottom:1px dashed #ccc; }
.wzy_tj ul li a{ float:right; color:#ff6600}



.tpia img{ width:100%; max-width:602px;}

.sawt{ margin-top:3%; padding:2% 2.5%; padding-bottom:12%; width:95%; background-color:#ececec;}
.sawt_tel{ width:48.83%; height:2.95rem; line-height:2.5rem; margin-right:2%; background:url(../images/art_06.jpg) no-repeat; background-size:100% auto; float:left; color:#FFF; font-size:1.2rem; text-indent:4em;}
.sawt-swt{ width:48.83%; height:2.95rem; line-height:2.5rem; background:url(../images/art_08.jpg) no-repeat; background-size:100% auto; float:left; color:#FFF; font-size:1.2rem;text-indent:4em;}
.sawt-swt a,.sawt_tel a{ color:#FFF; font-size:1.2rem;}

.tip3{
    width: 100%;
    margin: 20px auto;
    /*background-color: aqua;*/
}
.tip3{ position:relative;}
.tip3 p{ position:absolute; top:16%; right:4%; }
.tip3 p a{ color:#FFE600; font-size:22px; line-height:40px;}
.tip3 img{
    width: 100%;
    display: block;
}
.com{
    margin: 0 auto;
    /*background-color: burlywood;*/
    width: 100%;
    height: 598px;
    border-bottom: 1px solid gainsboro;
}
.com-tip{
    width: 100%;
    height: 23px;
   /*background-color: aqua;*/
   font-size:12px;
}
.com-tip .com-tip-left{
    float: left;
    line-height: 23px;
}
.com-tip .com-tip-right{
    float: right;
    line-height: 23px;
}
.com-tip-right{
    margin-right: 3%;
}
.bar{
    height: 123px/*123px*/;
    width: 95.16%;/*(609)*/
    margin: 10px auto;
  /*  background-color: brown;*/
    border:1px solid grey;
}
.bar .bar-top{
    width: 100%;
    height: 82px;
    /*background-color:darkorange;*/
    border-bottom:1px solid grey;
}
.bar .bar-bottom{
    height: 40px;
    width: 100%;
   /* background-color: chocolate;*/
}
.bar-bottom-pic1{
    height: 100%;
    float: left;
    width:54px;/*(44)*/
    background-color: blue;
}
.bar-bottom-pic1 img{
    height: 100%;
    width: 100%;
    border-bottom: 1px solid rgba(255,255,255,0);
}
.bar-bottom-des{
    height: 100%;
    float: left;
    width:130px;/*32%;/*(190)*/
  /* background-color:aquamarine;*/
}
.bar-bottom-des span{
    float: left;
    display: block;
    line-height: 39px;
    font-size: 12px;
    margin-left:5%;
}
.bar-bottom-pic2{
    height: 100%;
    width:63px;/*锛�50锛�*/
    float: left;
    /*background-color: chartreuse;*/
}
.bar-bottom-pic2 img{
    display: block;
    float: left;
    width: 20px;
    height: 60%;
	margin-top:10%;
}
.bar-bottom-pic2 span{
    font-size: 12px;
    margin-top: 10px;
    display: block;
    float: left;
    width:33px;
    height: 100%;
    /*background-color: coral;*/
}
.bar-bottom-com{
    float: right;
    line-height: 39px;
    width: 65px;
    /*width: 10px;*/
    height: 29px;
    margin-top: 5px;
    background-color: rgb(30,69,148);
    margin-right: 5px;

}
.bar-bottom-com span{
    display: block;
    float: left;
    width: 50px;
    line-height: 29px;
    /*margin-right: 8%;*/
    font-size: 12px;
    color: white;
    /*background-color: chartreuse;*/
}
.bar-bottom-com-pic img{
    display: block;
    float: left;
    width: 15px;
    height: 19px;
    margin-top: 5px;
}
.com-so{
    width: 95.16%;
    margin: 0 auto;
    height: 30px;
  /*background-color: cadetblue;*/
    border-bottom: 1px solid rgb(236,236,236);
}
.com-so-left,.com-so-right{
    text-align: center;
    float: left;
    height: 100%;
    width: 18%;
    /*background-color: aqua;*/
    line-height: 30px;
    font-size: 18px;
    margin-right: 1%;
}
.com-so-left{
    border-bottom: 2px solid rgb(36,58,133);
}
.right-block{
    height: 24px;
    /*background-color: aqua;*/
    width: 20%;/*(91)*/
    float: right;
    margin-right: 2.5%;
    margin-top: 4px;
    text-align: center;
    line-height: 24px;
    border-radius: 5px;
    border: 1px solid gainsboro;
}
.right-block span{
    display: block;
    float: left;
    width: 50%;
}
.right-block .right-block-1{
    background-color:rgb(36,58,133) ;
    color: white;
}
.com-new{
    clear: both;
    margin-left:.5%;
    width:20%;
    height: 25px;
    float: left;
    margin-top: 20px;
    color: darkred;
    text-align: center;
    line-height: 25px;
}
.com-list{
    width: 95.16%;
    /*height: 300px;*/
    margin:18px auto;
   /* background-color: chocolate;*/
   font-size:12px; border:1px solid #E3E3E3;
}
.com-list ul{
    width: 96%; margin:0 auto;
    /*height: 300px;*/
}
.com-list li{
    width: 100%;
   /* height: 9rem;*/
    border-bottom: 1px dashed gainsboro; padding-top:4%;
	padding-bottom:12rem;
}
.com-list-1-pic{
    /*margin-top: 5px;*/
    width:42px ;
    height: 100%;
    /*background-color: cornflowerblue;*/
    float: left; margin-right:2%;
}
.com-list-1-des{
    float: left;
    width:82%;
    /*height: 100%;*/
    /*background-color: blueviolet;*/
	overflow:hidden;
}
.com-list-1-des-tip{
    width: 100%;
   /* height:10px;*/
    /*background-color: antiquewhite;*/
    float: left;
    line-height: 10px;
    margin-top: 10px; margin-bottom:10px;
}
.com-list-1-des-tip .name{
    display: block;
     width:30%;
     float: left; color:#4398ed; font-size:12px;
 }
.com-list-1-des-tip .time{
    display: block;
    width: 40%;
    float: right; text-align:right; font-size:14px; color:#c0c0c0;
}
.com-list-1-des p{
    width: 100%;
   /* height:35px;*/
   /* background-color: aquamarine;*/
    margin-top: 25px; color:#787878; font-size:0.9rem;
	line-height:1.4rem; margin-bottom:1rem;
}
.icon{
    width:180px;
    height: 25px;
   /*background-color: coral;*/
    margin-bottom: 5px; float:right;
}
.icon .icon1{
    width: 50%;
    height: 100%;
   /*background-color: beige;*/
    line-height: 25px;
    float: left; color:#787878; font-size:0.8rem;
}
.icon .icon2{
    width: 50%;
    height: 100%;
    /*background-color: beige;*/
    line-height: 25px;
    float: left; color:#787878; font-size:0.8rem;
}
.icon .icon2 span a{ color:#787878;}
.icon .icon3{
    width: 48%;
    height: 100%;
    /*background-color: cadetblue;*/
    line-height: 25px;
    float: left;
}
.icon1 span{
    display: block;
   /* background-color: aqua;*/
    /*width: 79%;*/
    float: left;
}
.icon1 img{
    width: 20%;
    display: block;
    /*margin-top: 7px;*/
    float: left; margin-right:10px;
}
.icon2 img{
    width: 20%;
    display: block;
    /*margin-top: 7px;*/
    float: left;
	margin-right:10px;
}
.icon3 img{
    width: 21%;
    display: block;
    margin-top: 3px;
    float: left;
   /* background-color: blueviolet;*/
}
.icon3 span{
    height: 100%;
    display: block;
    float: left;
    width: 79%;
    /*background-color: aqua;*/
}
.tip8{
    margin: 0 auto;
    width: 100%;
}
.tip8 img{
    width: 100%;
}
.com-2{
    width: 100%;
    height: 280px;
    /*background-color: aquamarine;*/
    margin: 20px auto;
}
.com-2-list{
    width: 100%;
    height: 280px;
}
.com-2-list li{
    width: 100%;
    height: 60px;
    margin-bottom: 10px;
    border-bottom: 1px solid gainsboro;
    border-top: 1px solid gainsboro;
    border-right: 1px solid gainsboro;
    /*background-color: brown;*/
}
.com-2-list-left{
    float: left;
    height: 100%;
    width: 150px;
    background-color: rgb(82,82,82);
    text-align: center;
    line-height: 60px;
    font-size: 24px;
    color: white;
}
.com-2-list-right{
    float: left;
    /*background-color: aquamarine;*/
    width:169px;
    height: 100%;
    line-height: 60px;
    font-size: 24px;
    color: rgb(173,179,191);
}
.sub{
    height: 50px;
    width:60.15% ;/*(385)*/
    margin: 0 auto;
    /*background-color: blueviolet;*/
    /*border-radius: 5px;*/
}
.sub-left,.sub-right{
    height: 100%;
    width: 40%;
    border-radius: 5px;
    text-align: center;
    line-height: 50px;
    color: white;
    font-size: 24px;
}
.sub-left{
    float: left;
    background-color: rgb(0,99,177);
}
.sub-right{
    float: right;
    background-color: rgb(235,86,4);
}

@media screen and (max-width:500px){
.tip3 p a{ font-size:18px; line-height:30px;}

}
@media screen and (max-width:423px){
    .com-so-left,.com-so-right{
        width: 25%;
    }
.tip3 p a{ font-size:14px; line-height:18px;}
}
@media screen and (max-width:320px){
.tip3 p a{ font-size:12px; line-height:16px;}

}


#pptitle{ background:url(../images/art_13.jpg) left center no-repeat; text-indent:3em; width:94.0625%; margin:10px auto; height:26px; line-height:26px; font-size:1.2rem; color:#424242;}
.mor_swt{ display:block; width:87.5%; background-color:#ECECEC; padding:2% 0; text-align:center; font-size:0.9rem; color:#737373; margin:3% auto; border-radius:10px;}



.foot{ height:19.3rem; background:url(../images/art_29.jpg) bottom left no-repeat; background-size:contain; position:relative;}
.foot #foot_img{ display:block; position:absolute; left:4.2%; top:0; width:26.4375%; max-width:182px;}
.foot .call{ display:block; position:absolute; width:57.6875%; line-height:1.4rem; text-align:left; font-size:1.1rem; color:#FFF; background-color:#b8ad8b; border:1px solid #FFF; position:absolute; left:36.5%; top:14%; padding:2% 0 2% 2%;}
.foot .where{ display:block; position:absolute; width:57.6875%; line-height:1.4rem; text-align:left; font-size:1.1rem; color:#FFF; background-color:#b8ad8b; border:1px solid #FFF; position:absolute; left:36.5%; top:28%; margin-top:2%;padding:2% 0 2% 2%;}