@charset "utf-8";
/* CSS Document */

/*banner*/
.hj_banner{ width:100%; margin:0 auto;}
.hj_banner img{ width:100%; max-width:640px; margin:0 auto;}


/*标题*/
.hj_tit{ width:37.5%; margin:0 auto;}
.hj_tit img{ width:100%; max-width:240px; margin:0 auto; display:block;}
/*环境篇*/
.hj_hjpqh{ width:100%; margin:0 auto; background-color:#f3f3f3; margin-top:3%; padding:0 0 3%;}
.hj_hjpqhlb{ width:100%; margin:0 auto;}
.hj_hjphd{ width:100%; margin:0 auto; background-color:#fff;}
.hj_hjphd ul{ width:100%; clear:both; overflow:hidden;}
.hj_hjphd ul li{ width:32.8125%; margin-right:0.78125%; background-color:#c3b58e; float:left; color:#fff; text-align:center; line-height:200%; font-size:1.2rem;}
.hj_hjphd ul li.noright{ margin-right:0;}
.hj_hjphd ul li.hover{ background-color:#f3f3f3; color:#ff4848;}
.hj_hjpbd{ width:100%; margin:0 auto; padding-top:3%;}
.hj_hjpbd1{ width:100%; margin:0 auto;}
.hj_hjpbd1 ul{ width:100%; margin:0 auto; clear:both; overflow:hidden;}
.hj_hjpbd1 ul li{ width:48.4375%; float:left; margin-left:1.04%; margin-top:0.6%;}
.hj_hjpbd1 ul li img{ width:100%; max-width:310px; box-shadow:4px 4px 4px rgba(228,228,228,0.75);}
.hj_hjswt{ width:89%; margin:3% auto 0; border:1px solid #fec003; border-radius:0.5rem; line-height:3rem; font-size:1.25rem; text-align:center;}
.hj_hjswt a{ color:#fec003;}

/*温馨体验*/
.hj_tiyan{ width:100%; margin:3% auto 0;}
.hj_ty1{ width:100%; position:relative; margin-bottom:2%;}
.hj_ty1 img{ width:100%; max-width:640px; display:block;}
.hj_tyzi1{ width:58.125%; padding:2.5%; background-color:rgba(101,153,53,0.8); position:absolute; left:0; top:16%;}
.hj_tyzi2{ width:60.125%; padding:2.5%; background-color:rgba(164,78,57,0.8); position:absolute; right:0; top:16%;}
.hj_tytit{ width:100%; text-align:left; color:#ffd800; font-size:1.1rem; line-height:160%; font-weight:normal;}
.hj_tycon{ width:100%; text-align:left; color:#fff; font-size:1.1rem; line-height:160%;}

/*人气认证*/
.hj_renqi{ width:100%; margin:2% auto; position:relative;}
.hj_renqi img{ width:100%; max-width:640px; display:block;}
.hj_rqzi{ width:60%; padding:3% 2% 4%; background-color:rgba(195,181,142,0.8); border-radius:0.5rem; position:absolute; left:3%; top:9%;}
.hj_rqcon1{ width:100%; padding:2% 0; border-bottom:1px solid #e0d088; color:#fff;}
.hj_rqcon1.nobot{ border-bottom:0;}
.hj_rqp1{ width:100%; font-size:1rem; line-height:160%; text-align:left;}
.hj_rqp2{ width:100%; font-size:1rem; line-height:160%; text-align:right;}
.hj_rqswt{ width:80%; margin:0 auto; background-color:#ffca3c; text-align:center; border-radius:0.5rem; line-height:230%;}
.hj_rqswt a{ color:#fff;}


/*图片查看*/
.hjbp{ width:100%; max-width:640px; height:100%; display:block; background-color:rgba(0,0,0,0.8); position:fixed; top:0; left:0; right:0; margin:0 auto; text-align:center; z-index:999; box-sizing:border-box;}
.hjtlb{ width:100%; height:100%; z-index:9999;}
/*.hjtlb::before{ content:''; display:inline-block; height:100%; vertical-align:middle;}*/
.hjtlb1{ width:96%; height:auto; display:inline-block; vertical-align:middle; z-index:99991; margin:0 auto;}
.hjt_con{ width:100%; margin:0 auto; position:relative;}
.hjt_bd{ width:100%;}
.hjt_bd ul{ width:100%; clear:both; overflow:hidden;}
.hjt_bd ul li{ width:100%; float:left;}
.hjt_bd ul li img{ width:100%;}
.hjt_bd ul li{ display:none;}
.hjt_bd ul li.on{ display:block;}
.prev{ width:6%; position:absolute; top:30%; left:0; z-index:9999;}
.next{ width:6%; position:absolute; top:30%; right:0; z-index:9999;}
.prev img,.next img{ width:100%;}






/*底部*/
.foot{ width:100%; background-color:#c2b58e; position:relative; margin-top:1.5rem; padding-bottom:2rem}
.zhui{ width:80%; background-color:#fff; color:#c2b58e; font-size:1.1rem; text-align:center; line-height:4.2rem;position:absolute; top:-1.5rem; left:10%; border-bottom-left-radius:1.5rem; border-bottom-right-radius:1.5rem;}
.foot h1{ width:100%;}
.foot h1 img{ width:100%; max-width:640px; display:block}
.foot h3{ text-align:center; line-height:2rem; font-size:1.1rem; color:#fff; font-weight:normal}
.foot h2{ width:45%; margin:0 auto; font-size:1.1rem; overflow:hidden; color:#fff; font-weight:normal}
.foot h2 p{ width:25%; float:left;}
.foot h2 span{ width:75%; float:left; display:block}

.foot h4{ width:100%; overflow:hidden; padding-top:3.5rem; height:3rem}
.foot h4 a{ width:16.5%; float:left; display:block; text-align:center; line-height:1.2rem; border-right:1px solid #fff; color:#fff; font-weight:normal; font-size:1rem; box-sizing:border-box}

#lian{ border:none}