@charset "utf-8";
/* CSS Document */
body{ margin:0; padding:0; font-family:"微软雅黑"; max-width:640px; min-width:320px; margin:0 auto}
a{ text-decoration:none;}
p,div,h1,h2,h3,h4,h5,h6,ul,li,span{ margin:0; padding:0}
li{ list-style:none;}

.totu{ width:100%; position:relative}
.totu img{ width:100%; max-width:640px; display:block}
.dianhua01{ width:3rem; height:3rem; position:absolute; right:1.5%; top:0.3rem}
.totu p{ width:3rem; height:3rem;position:absolute; left:1.5%; top:0.3rem; cursor: pointer}


/*banner图*/
.tupian{ width:100%;}
.tupian img{ width:100%; max-width:640px;}

/*免费体验入住活动*/
.tiyan{ width:100%; margin-top:1.5rem; position:relative}
.tiyan img{ width:100%; max-width:640px;}
.ti01{ width:60%; position:absolute; top:10%; right:0}
.ti01 p{ padding-top:1rem; font-size:1rem; color:#FFF; text-align:center; line-height:1.5rem;}
.ti01 h1{ font-size:1.5rem; color:#fdfe9b; font-weight:normal; text-align:center; line-height:2rem; margin-top:1rem} 

/*适宜文章*/

.tupian01{ width:100%; margin-top:2rem;}
.tupian01 img{ width:100%; max-width:640px;}


/*践行战略*/
.jianxing{ width:100%; margin:0 auto; border-radius:6px; position:relative; margin-top:2rem}
.jianxing img{ width:100%; max-width:640px;}
.jianxing p{line-height:1.5rem; font-size:1rem; color:#FFF; position:absolute; bottom:6%; left:0; text-align:center; width:100%; }
.jianxing a{ width:65%; color:#FFF; display:block; margin:0 auto; background-color:#ffb400; border-radius:4px; margin-top:1.5rem; background-image:url(../images/yu01_11.jpg); background-size:2.65rem 2.65rem; background-repeat:no-repeat; background-position:0.5rem 0.5rem; height:3.5rem; line-height:3.5rem; font-size:1.2rem; text-indent:2.5em;}

/*体验内容*/
.neirong{ width:100%; margin-top:1rem;}
.nei01{ width:100%; }
.nei01 ul{ width:100%; }
.nei01 ul li{ width:100%; position:relative; padding-bottom:1rem}
.nei01 ul li img{ width:100%; max-width:640px;}
.neia1{ width:68%;position:absolute; top:54.5%; left:16.5%;}
.neia1 h1{ font-size:1.5rem; color:#FFF; font-weight:normal; padding-top:1.5rem; text-align:center}
.neia1 p{ font-size:1rem; color:#FFF; margin-top:1rem; height:6rem}
.neia1 a{ color:#FFF; font-size:1.2rem; line-height:3.2rem; text-indent:4em; display:block; width:100%; margin-top:4.2rem}
.nei02{ width:30%; margin:0 auto;}
.nei02 ul{ width:100%; overflow:hidden}
.nei02 ul li{ width:0.5rem; height:0.5rem; border-radius:50%; border:2px solid #c3b58e; float:left; margin-left:0.6rem; margin-top:0.5rem; cursor:pointer; font-size:0}
.nei02 ul .on{ background-color:#c3b58e}

/*入住活动申请表*/
.ruzhu{ width:94%; margin:0 auto; margin-top:1rem;}
.ruzhu h1{ line-height:3.5rem; background-color:#ede9dd; font-size:1.5rem; color:#838382; text-align:center; font-weight:normal}
.ruzhu p{ width:100%; overflow:hidden; margin-top:0.5rem; }
.ruzhu p span{ display:block; width:20%; margin-left:5%; text-align:center; font-size:1.2rem; color:#6a6a6a; line-height:2.8rem;float:left}
.ruzhu p input{ width:63%; height:2.8rem; border:1px solid #dfdfdf; display:inline-block; float:left; text-align:center; font-size:1.1rem}
.ruzhu div{ width:100%; overflow:hidden}
.ruzhu div span{ display:block; width:18%; margin-left:5%; text-align:center; font-size:1.2rem; color:#6a6a6a; line-height:2.8rem;float:left}
.ruzhu div p { width:40%; float:left; font-size:1.2rem; color:#6a6a6a; font-weight:normal}
.ruzhu div p input{ width:0.8rem; height:0.8rem; display:block; margin-top:0.6rem; float:left}
.ruzhu div h2{ width:60%; float:left; overflow:hidden}
.ruzhu h3{ width:60%; overflow:hidden; margin:0 auto; font-weight:normal; margin-top:1.5rem;}
.ruzhu h3 a{ width:35%; display:block; font-size:1rem; color:#FFF; line-height:1.8rem; text-align:center; cursor:pointer; float:left; margin-left:8%; background-color:#d1cab5; border-radius:4px;}
.ruzhu h3 a+a{ background-color:#c3b58e} 

































































































































































































































































